/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-login{
  background-color: #2b3137;
  height: 100vh;
}
.main-home{
  background-color: white;
  height: 100vh;
}

/* LOGIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slogan {
  text-align: center;
  font-size:1.5em;
  color: orange;
  margin-top: 10px;
  margin-bottom: 30px;
}

.login-form {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 5%;
  background: white;
}

.login-btn{
  background-color: #2b3137 !important;
  border-color: #2b3137 !important;
}

/* TOP NAV BAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-title {
  color: orange;
}

.nav {
  background-color: #24292e;
  /*height: 50px;*/
}
.nav-message{
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  color: white;
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  line-height: 50px; 
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #005f5f;
}
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/* DASHBOARD
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.control-container {
  padding-top: 15px;
}

.js-member{
  margin-bottom: 0;
  border:none !important;
}

.random-btn{
  background-color: #2b3137 !important;
  border-color: #2b3137 !important;
  float: right;
}

.members-select{
  width: 50%;
}

/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than tablet */
@media (min-width: 750px) {
	.login-container {
    margin-top: 15%;
  }
  .login-form {
		width: 75%;
	}
  .slogan {
    font-size: 2.5em;
    text-align: right;
  }
  .nav-title {
    font-size: 3em;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .login-container {
    margin-top: 8%;
  }
  .slogan {
    font-size: 3.5em;
    text-align: right;
  }
}
