/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-login {
  background-color: #2b3137;
  height: 100vh;
  position: absolute;
  width: 100vw;
}
.main-dashboard {
  background-color: white;
  height: 100vh;
  position: absolute;
  width: 100vw;
}

/* LOGIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login-slogan {
  text-align: center;
  font-size:1.5em;
  color: orange;
  margin-top: 10px;
  margin-bottom: 30px;
}
.login-container{
  margin-top: 100px;
}
.login-form {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 5%;
  background: white;
}
.login-btn {
  background-color: #2b3137 !important;
  border-color: #2b3137 !important;
}

/* TOP NAV BAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-title {
  color: orange;
}
.burger {
  background: url(./../images/burger_menu.png);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 16px;
  display: block;
}
.nav-container {
  box-shadow: 0 0 20px 4px #24292e;
  background-color: #24292e;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}
.nav-menu {
  -webkit-transition:all 0.2s ease-in-out;
  overflow: hidden;
  width: 100%;
  height: 0;
}
.nav-menu._open {
  -webkit-transition:all 0.2s ease-in-out;
  float: left;
  height: 80px;
}
.nav-message{
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  color: white;
}
.nav-menu ul {
  list-style: none;
  height: 100%;
}
.nav-menu li {
  text-align: left;
}
.nav-menu li:hover {
  background-color: #005f5f;
}
.nav-menu a {
  text-decoration: none;
  color: orange;
}
.nav a:hover {
  background-color: #005f5f;
}

/* DASHBOARD
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dashboard-container {
  margin-top: 65px;
}
.members-list-container {
  display: none;
}
.mobile-members-list {
  top: 0;
  left: -100%;
  width: 100%;
  background: white;
  z-index: 2;
  position: absolute;
  display: none;
  -webkit-transition:all 0.2s ease-in-out;
}
.mobile-members-list._open {
  left: 0;
  display: block;
}
.mobile-members-close {
  font-size: 1.5em;
  right: 0;
  margin-right: 10px;
}
.mobile-members-close._open {
  position: fixed;
}
.mobile-members-list input{
  width: 100%
}
.random-control-container {
  padding-top: 15px;
}
.list-member {
  margin-bottom: 0;
  border:none !important;
}
.random-btn {
  background-color: #2b3137 !important;
  border-color: #2b3137 !important;
  float: right;
}
.members-select {
  width: 50%;
}

/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .login-container {
    margin-top: 120px;
  }
  .login-slogan {
    font-size: 2em;
    text-align: right;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
	.dashboard-container {
    margin-top: 120px;
  }
  .login-form {
		width: 75%;
	}
  .login-slogan {
    font-size: 2.5em;
  }
  .nav-title {
    font-size: 3em;
  }
  .burger {
    display: none;
  }
  .nav-menu {
    position: absolute;
    text-align: right;
    height: 100%;
  }
  .nav-menu ul {
    height: 100%;
  }
  .nav-menu li {
    width: 120px;
    height: 100%;
    float: right;
    line-height: 70px;
    text-align: center;
  }
  .members-list-container {
    display: block;
  }
  .show-button {
    display: none;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .login-container {
    margin-top: 150px;
  }
  .login-slogan {
    font-size: 3.5em;
    text-align: right;
  }
}
