/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-login{
  background-color: #2b3137;
  height: 100vh;
}
.main-home{
  background-color: white;
  height: 100vh;
}

/* TOP NAV BAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav {
  background-color: #24292e;
  height: 50px;
}
.nav-message{
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
  color: white;
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  line-height: 50px; 
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #005f5f;
}
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/* HOME
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.home-title, .home-subtitle{
	text-align: right;
	font-size: 3em;
	color: orange;
	margin-top: 10px;
}

.home-title{
	font-size: 3.5em;
}

/* LOGIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login-container {
	margin-top: 50px;
}

.login-form {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding: 5%;
	background: white;
}

.login-btn{
	background-color: #2b3137 !important;
	border-color: #2b3137 !important;
}

/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) {
	.login-form {
		width: 50%;
	}
}
