/* LOGIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.login-container{
	margin-top: 10%;
}
.login-form {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding: 5%;
}

/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 1000px) {
	.login-form {
		width: 50%;
	}
}